
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex.gz
*.pdf
*.bbl 
*.bcf 
*.blg
*.run.xml 


# beamer
*.nav
*.pre
*.snm
*.vrb

# waf
.mywaflib/
.lock-waf_linux_build
.lock-waffake
bld/
